{
  "env": {
    "browser": true,
    "jest/globals": true,
    "node": true
  },

  "extends": [
    "eslint:recommended",
    "prettier"
  ],

  "parser": "@babel/eslint-parser",

  "plugins": [
    "prettier",
    "jest"
  ],

  "rules": {
    "prettier/prettier": "error"
  }
}